body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(15,132,250,1),rgba(255,255,255,0.5));
}

/* passengers_table */
.passengers-table{
    margin-top: 70px;
    border-collapse: collapse;
    background-color: #dba100;
    border-radius: 10px;
}
.table-row{
    border-bottom: 1px solid #dddddd;
    border-radius: 10px;
}
.table-row:hover{
    border-color: #fb0;
    background-color: rgb(249, 214, 118);
    border-width: 2px;
    border-radius: 10px;
}
.table-row:nth-child(even) {
    background-color: #ffebb2;
  }
.table-r{
    text-align: center;
    padding: 8px;
}
.table-h{
    text-align: center;
    padding: 8px;
}

/* Airplane_Chairs */
.ch_background{
    background-image: url("img/plane.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.chairs{
    display: flex;
    position: absolute;
    margin: 0 auto;
    top: 220px;
    left: 170px;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 2px;
}

.row_num{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.up_ch{
    margin: 0 0 10px 20px;
}

.down_ch{
    margin: 0 0 0 20px;
}

.chair{
    font-size: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.ch_size{
    width: 12px;
    height: 12px;
    background: #0b5fb3;
    margin: 2px;
}

.guide{
    position: absolute;
    left: 900px;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.resev_ch{
    display: flex;
}

.noreserv_ch{
    display: flex;
}

.res{
    width: 12px;
    height: 12px;
    background: #dba100;
    margin: 2px;
}
