body{
    background: linear-gradient(rgba(15,132,250,1),rgba(255,255,255,0.5));   
}
.row1{
    border: 4px solid #ffda73;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    width: 718px;
    height: 174px;
    margin-left: auto;
    margin-right:auto;
    display: flex;
}
.row2{
    border: 4px solid #ffda73;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    width: 718px;
    height: 174px;
    margin-left: auto;
    margin-right:auto;
    display: flex;
}
.row3{
    border: 4px solid #ffda73;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    width: 718px;
    height: 174px;
    margin-left: auto;
    margin-right:auto;
    display: flex;
}
.spacer{
    width: 718px;
    height: 10px;
    margin-left: auto;
    margin-right:auto;
}
.select{
    padding: 10px;
}
.select button{
    padding: 20px;
    color: white;
    background-color: #0f84fa;
    border:#0f84fa;
    border-radius: 10px;
}
.inline{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 30px;
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.photo img{
    /* padding: 50px; */
    height: auto;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo span  {
    color: black;
    font-size: 20px;
    /* padding: 30px; */
}
.box{
    /* border: 2px purple solid; */
    width: 24px;
    height: 100px;
    /* padding: 87px; */
    margin-left: auto;
    margin-right:auto;
}
